<%= form_for(@event_item_list) do |f| %>
  <% if @event_item_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_item_list.errors.count, "error") %> prohibited this event_item_list from being saved:</h2>

      <ul>
      <% @event_item_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event %><br>
    <%= f.number_field :event %>
  </div>
  <div class="field">
    <%= f.label :supply_item %><br>
    <%= f.number_field :supply_item %>
  </div>
  <div class="field">
    <%= f.label :count %><br>
    <%= f.number_field :count %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
