<h1>Listing event_item_lists</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Supply item</th>
      <th>Count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_item_lists.each do |event_item_list| %>
      <tr>
        <td><%= event_item_list.event %></td>
        <td><%= event_item_list.supply_item %></td>
        <td><%= event_item_list.count %></td>
        <td><%= link_to 'Show', event_item_list %></td>
        <td><%= link_to 'Edit', edit_event_item_list_path(event_item_list) %></td>
        <td><%= link_to 'Destroy', event_item_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event item list', new_event_item_list_path %>
