<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_item_list.event %>
</p>

<p>
  <strong>Supply item:</strong>
  <%= @event_item_list.supply_item %>
</p>

<p>
  <strong>Count:</strong>
  <%= @event_item_list.count %>
</p>

<%= link_to 'Edit', edit_event_item_list_path(@event_item_list) %> |
<%= link_to 'Back', event_item_lists_path %>
