<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @supply_item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @supply_item.price %>
</p>

<%= link_to 'Edit', edit_supply_item_path(@supply_item) %> |
<%= link_to 'Back', supply_items_path %>
