<%= form_for(@event_guest) do |f| %>
  <% if @event_guest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_guest.errors.count, "error") %> prohibited this event_guest from being saved:</h2>

      <ul>
      <% @event_guest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :integer %><br>
    <%= f.text_field :integer %>
  </div>
  <div class="field">
    <%= f.label :integer %><br>
    <%= f.text_field :integer %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
