<p id="notice"><%= notice %></p>

<p>
  <strong>Integer:</strong>
  <%= @event_guest.integer %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @event_guest.integer %>
</p>

<%= link_to 'Edit', edit_event_guest_path(@event_guest) %> |
<%= link_to 'Back', event_guests_path %>
